<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@10.197.67.77:1150:DESENV11</property>
    <property name="hibernate.connection.username">TRPORTALPRODUTO</property>
    <property name="hibernate.connection.password">TRPORTALPRODUTO</property>
    <mapping class="br.tr.com.Modal.TrSessao"/>
    <mapping class="br.tr.com.Modal.TrArquivo"/>
    <mapping class="br.tr.com.Modal.TrClassificacao"/>
    <mapping class="br.tr.com.Modal.TrArquivoDownload"/>
    <mapping class="br.tr.com.Modal.TrCalendarioVersao"/>
    <mapping class="br.tr.com.Modal.TrNoticia"/>
  </session-factory>
</hibernate-configuration>
